- var ratingNumber = 1;
- var starIcon = '../../sass/images/icon-star.svg';
- var ratingTitle = 'How did we do?';
- var ratingDescription = 'Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!';
- var thankYouTitle = 'Thank you!';
- var thankYouDescription = 'We appreciate you taking the time to give a rating. If you ever need more support, don\'t hesitate to get in touch!';
