// Primary color
$orange: hsl(25, 97%, 53%);
// Secondary colors
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
// Font styling
$regular-font: 400;
$bold-font: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: $very-dark-blue;
}

p {
  font-size: calc(15rem / 16);
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}